 /* Estilizando a barra de rolagem vertical */
 ::-webkit-scrollbar {
    width: 1px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #9daab6; /* Cor da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #385171; /* Cor da trilha da barra de rolagem */
}

/* Estilizando a barra de rolagem horizontal (opcional) */
::-webkit-scrollbar-horizontal {
    height: 1px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
    background: #666; /* Cor da barra de rolagem horizontal */
}

::-webkit-scrollbar-track:horizontal {
    background: #385171; /* Cor da trilha da barra de rolagem horizontal */
}


body {
    margin: 0;
    padding: 0;
    background-color: #192733;
}

header {
    background-color: #181e29;
    height: 10.5vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #385171 /* Adiciona a borda branca fina na parte inferior */
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
}
logo img {
        width: 500px;
    }
.sidebar {
    width: 22%;
    background-color: #192733;
    border-bottom: 1px solid #385171;
    position: fixed;
    top: 10.6vh;
    bottom: 0;
    overflow: auto;
}

.content {
    width: 75%;
    margin-left: 22%;
    padding: 20px;
}
ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

li {
    color: #fff; /* Texto preto */
    padding: 5px; /* Espaçamento interno para melhorar a aparência */
    margin: 7px 0; /* Espaçamento vertical entre os itens da lista */
    margin-left:20px;
    margin-right:20px;
    text-align: center; /* Centraliza o texto horizontalmente */
    transition: background-color 0.3s; /* Efeito de transição suave */
    border-radius:10px;
    font-size:25px;
}

img.selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
li img:hover {box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.03);}
a {color:white;
    text-decoration: none;
}
li.select a {
    background-color: #ddd; /* Fundo cinza mais escuro no hover */
    color:#333333;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 19%;
    margin: 1%;
    float: left;
}

.column img {
    width: 100%;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 12vh;
}

.image-container a {
    flex: 0 0 calc(20% - 10px); /* 20% para cada imagem com uma margem de 10px entre elas */
    margin: 5px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
 
}
img {
    border-radius: 10px;
}
img:hover {
  transform: scale(1.05);
}
svg.base-icon-svg.tw-block.tw-cursor-pointer {
    width: 26em;
    height: 3em;
    margin-top: 1.2vh;
}
svg.base-icon-svg.tw-block.tw-cursor-pointer:hover {transform: scale(1.05);
}

@media (max-width: 768px) {
    
    ::-webkit-scrollbar {
        width: 10px;
        height:2px;
    }

    header {
        height:7vh;
    
    }
 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
}
    .sidebar {
        width: 100%;
        overflow-x: auto;
        height: 7vh;
        margin-top: -3vh;
    } 
    .sidebar img {width:135px;
                 }
    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        white-space: nowrap; /* Impede que os itens quebrem para a próxima linha */
    }
    
    .sidebar li {
        display: inline-block;
        text-align: center;
        margin: 5px;
        border: 2px solid #fff;
        padding: 2px;
    }
 img.selected {
    box-shadow:none;
}
    li {
        color: #fff; /* Texto preto */
        padding: 5px; /* Espaçamento interno para melhorar a aparência */
        margin: 7px 0; /* Espaçamento vertical entre os itens da lista */
        margin-left:20px;
        margin-right:20px;
        text-align: center; /* Centraliza o texto horizontalmente */
        transition: background-color 0.3s; /* Efeito de transição suave */
        border-radius:10px;
        font-size:15px;
    }
 li.mobile {
    border: 2px solid #ff0000;
}
    img {
        width: 280px;
    }
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 16vh;
    }
    .image-container a {
        flex: 0 0 calc(33.3% - 10px); /* 20% para cada imagem com uma margem de 10px entre elas */
        margin: 5px;
        text-align: center;
    }
    .content {
        width: 100%;
        margin-left: 0px;
        padding:0px;
}
 svg.base-icon-svg.tw-block.tw-cursor-pointer {
    width: 5em;
    height: 1.5em;
    margin-top: 1.2vh;
}
}
